.about-container {
  padding: 60px 40px;
  max-width: 1100px;
  margin: auto;
  color: rgb(0, 0, 0);
}

.about-hero {
  text-align: center;
  margin-bottom: 60px;
}

.about-hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-hero p {
  opacity: 0.8;
  max-width: 700px;
  margin: auto;
}

.about-content {
  display: grid;
  gap: 30px;
}

.about-card {
    color: #ffffff;
  background: rgba(255, 255, 255, 0.05);
  padding: 25px;
  border-radius: 16px;
  background: rgba(20, 20, 20, 0.8);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}

.about-card:hover {
    color: black;
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.08);
}

.about-card h2 {
  margin-bottom: 15px;
}

.about-card ul {
  padding-left: 18px;
}

.about-card li {
  margin-bottom: 8px;
  opacity: 0.9;
}
