
.main-containar-home {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  /* color: #e5e7eb; */
    /* backdrop-filter: blur(1px); */
 
}

.hero-home h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 15px;
   /* color: #f8fafc;  */
  /* color: #eaf2ff; */
color: #05132a;
   /* text-shadow: 0 6px 25px rgba(0, 0, 0, 64.35); */
}

.hero-home p {
  max-width: 650px;
  font-size: 18px;
  /* color: #cbd5f5;
  
*/
color: #dbeafe;
 text-shadow: 0 6px 25px rgba(0, 0, 0, 6.35);




margin-bottom: 35px;
  line-height: 1.6;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.home-btn1 {
  margin-top: 6px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: linear-gradient(135deg, #6366f1, #8b5cf6);
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s ease;
}

.home-btn1:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(99, 102, 241, 0.4);
}

.home-btn2 {
  padding: 14px 34px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #3b82f6;
  /* background: transparent; */
  /* color: #3b82f6; */
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.15);
  color: #f8fafc;
  border: 1px solid rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(6px);
}

.home-btn2:hover {
  /* background: rgba(59, 130, 246, 0.15); */
  transform: translateY(-2px);
   background: rgba(255, 255, 255, 0.25);
}
.home-btn3 {
  margin-top: 6px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: linear-gradient(135deg, #6366f1, #8b5cf6);
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s ease;
}

.home-btn3:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(99, 102, 241, 0.4);
}

@media (max-width: 768px) {
  .hero-home h1 {
    font-size: 36px;
  }

  .hero-home p {
    font-size: 16px;
  }

  .hero-buttons {
    flex-direction: column;
  }
}
