.login-container {
  min-height: calc(100vh - 181px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-card {
  /* backdrop-filter: blur(4px); */
  padding: 28px 22px;
  border-radius: 14px;
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.login-heading,
.register-heading {
  font-size: 1.8rem;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}
/* > */

.login-input1,
.login-input2 {
  height: 38px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  text-align: center;
  border-radius: 10px;
  color: #000000;
  padding: 0 10px;
  font-size: 0.95rem;
  outline: none;
}

.login-input1::placeholder,
.login-input2::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.register-para {
  text-align: center;
  font-size: 0.9rem;
}

.login-btn {
   margin-top: 6px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: linear-gradient(135deg, #6366f1, #8b5cf6);
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s ease;
}

.login-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(99, 102, 241, 0.4);
}

@media (min-width: 600px) {
  .login-card {
    padding: 32px 26px;
  }

  .login-heading,
  .register-heading {
    font-size: 2.1rem;
  }
}

@media (min-width: 1024px) {
  .login-heading,
  .register-heading {
    font-size: 2.3rem;
  }
}
