.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
      /* background: white; */
      /* background-color: rgba(0, 0, 0, 0.2); */
       backdrop-filter: blur(1px);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    justify-items: center;
    justify-content: center;
    gap: 10px;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login-input1{
    background-color: rgba(0, 0, 0, 0.5);
    border-block-style: none;
    /* border-block-end-style: none; */
    border-left-style: none;
    border-right-style: none;
    text-align: center;
    height: 28px;
    width: 250px;
}
.login-input2{
    background-color: rgba(0, 0, 0, 0.5);
    border-block-style: none;
    /* border-block-end-style: none; */
    border-left-style: none;
    border-right-style: none;
    text-align: center;
    height: 28px;
    width: 250px;
}