.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-heading{
        text-align: center;
    font-size: 40px;
}

.login-card {
      /* background: white; */
      /* background-color: rgba(0, 0, 0, 0.2); */
       backdrop-filter: blur(1px);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    justify-items: center;
    justify-content: center;
    gap: 10px;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
}
.login-input1{
    height: 30px;
    background: rgba(0, 0, 0, 0.2);
    border-block-end-style: none;
    border-block-style: unset;
    border-right-style: unset;
    border-left-style: unset;
    text-align: center;
    border-radius: 10px;
}
/* .login-input::placeholder{
    color: red;
} */
::-webkit-login-input-placeholder {
    color: #d92525;

}







.login-input2{
      height: 30px;
    background: rgba(0, 0, 0, 0.2);
    border-block-end-style: none;
    border-block-style: unset;
    border-right-style: unset;
    border-left-style: unset;
    text-align: center;
    border-radius: 10px;
}

.login-btn{
width: 80px;
    margin: auto;
}
.login-heading{
        font-size: 40px;
}

.register-para{
    text-align: center;
}