.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100vh;
  overflow: hidden;
  transition: width 0.35s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar.open {
  width: 240px;
  backdrop-filter: blur(10px);
}

.top-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  cursor: pointer;
}

.logo-area {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-area img {
  height: 40px;
  transition: transform 0.3s ease;
}

.sidebar.open .logo-area img {
  transform: scale(1.1);
}

.hamburger {
  font-size: 22px;
  color: rgb(0, 0, 0);
  /* margin-top: 10px; */
}

.sidebar-menu {
  width: 100%;
  margin-top: 30px;
}

.sidebar-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  padding: 15px 30px;
  transition: background 0.3s ease;
}

.sidebar.open .sidebar-menu li:hover {
  background: rgba(255, 255, 255, 0.1);
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  white-space: nowrap;
  opacity: 0;
  display: block;
  transition: opacity 0.3s ease 0.15s;
}

.sidebar.open .nav-link {
  opacity: 1;
}
.main-logo {
  filter: brightness(50%) contrast(3000%);
}
.sidebar.open .nav-link:hover {
  color: white;
}
